In [30]:
import pandas as pd

# Create a sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 45, 38],
        'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
df

      name  age         city
0    Alice   25     New York
1      Bob   32  Los Angeles
2  Charlie   45      Chicago
3    David   38      Houston

In [31]:
#df.drop('age', axis=1)

In [32]:
#del df['age']

In [33]:
#df.pop('age')

In [34]:
#df.drop(columns=['age'])

In [35]:
#df.select_dtypes(exclude='object')

In [36]:
#df.columns = [col for col in df.columns if col != 'age']

del keyword is a Python keyword that is used to delete an element from a list, dictionary, or other data structure. In pandas, it can be used to delete a column from a DataFrame by specifying the column name as a key.

drop() method is a pandas method that is used to remove rows or columns from a DataFrame. It takes two mandatory arguments: the labels of the axis (rows or columns) to drop, and the axis (0 or 1) on which to drop. By default, drop() method will drop rows, but you can also drop columns by passing axis=1.

The del keyword modifies the DataFrame in place, whereas the drop() method returns a new DataFrame with the specified rows or columns removed. So if you want to keep the original DataFrame, you should make a copy of it before using del keyword.

The del keyword only support the removal of one column at a time, whereas the drop() method can remove multiple columns/rows at a time by passing a list of column/row labels

The drop() method has additional parameter inplace which can be used to drop the column/row in place.